In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tynda,RU,2021-08-01 21:01:25,55.1667,124.7167,51.69,99,100,2.19
1,1,Atuona,PF,2021-08-01 20:58:44,-9.8000,-139.0333,77.14,69,32,11.86
2,2,Lewistown,US,2021-08-01 21:01:26,40.5992,-77.5714,82.47,47,1,5.75
3,3,Kieta,PG,2021-08-01 21:00:29,-6.2167,155.6333,78.85,83,10,2.64
4,4,Beloha,MG,2021-08-01 20:59:04,-25.1667,45.0500,67.19,59,0,9.22

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(28.0, 29.0), zoom_level=2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-08-01 20:58:44,-9.8000,-139.0333,77.14,69,32,11.86
2,2,Lewistown,US,2021-08-01 21:01:26,40.5992,-77.5714,82.47,47,1,5.75
3,3,Kieta,PG,2021-08-01 21:00:29,-6.2167,155.6333,78.85,83,10,2.64
8,8,San Cristobal,VE,2021-08-01 20:58:11,7.7669,-72.2250,84.38,80,68,7.29
15,15,Hamilton,US,2021-08-01 21:01:29,39.1834,-84.5333,81.57,79,28,1.01
16,16,Kalmunai,LK,2021-08-01 21:01:29,7.4167,81.8167,81.00,72,100,1.86
17,17,Kahului,US,2021-08-01 21:01:30,20.8947,-156.4700,83.97,76,18,16.04
23,23,Boa Vista,BR,2021-08-01 21:01:33,2.8197,-60.6733,76.98,88,75,4.61
24,24,Celestun,MX,2021-08-01 21:01:33,20.8667,-90.4000,83.84,74,67,14.47
26,26,Gazli,UZ,2021-08-01 21:01:34,40.1333,63.4500,85.21,11,0,11.14

In [22]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1          Atuona      PF     77.14  -9.8000 -139.0333
2       Lewistown      US     82.47  40.5992  -77.5714
3           Kieta      PG     78.85  -6.2167  155.6333
8   San Cristobal      VE     84.38   7.7669  -72.2250
15       Hamilton      US     81.57  39.1834  -84.5333
16       Kalmunai      LK     81.00   7.4167   81.8167
17        Kahului      US     83.97  20.8947 -156.4700
23      Boa Vista      BR     76.98   2.8197  -60.6733
24       Celestun      MX     83.84  20.8667  -90.4000
26          Gazli      UZ     85.21  40.1333   63.4500

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.14,-9.8000,-139.0333,Villa Enata
2,Lewistown,US,82.47,40.5992,-77.5714,Quality Inn & Suites
3,Kieta,PG,78.85,-6.2167,155.6333,Uruna Bay Retreat
8,San Cristobal,VE,84.38,7.7669,-72.2250,Posada Villaven C.A.
15,Hamilton,US,81.57,39.1834,-84.5333,Six Acres Bed & Breakfast
...,...,...,...,...,...,...
544,Denizli,TR,88.65,37.8402,29.0698,Anemon Denizli Hotel
548,Hirara,JP,81.12,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
554,Haifa,IL,76.21,32.8156,34.9892,Dan Panorama Haifa Hotel
556,Saint Anthony,US,80.49,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
559,Gobo,JP,78.94,33.8833,135.1500,Tabiji

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]